*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-family: 'Roboto', Helvetica , sans-serif;
    overflow-y: hidden;
}

body{
    height: 100vh;
    display: flex;
}

label{
    text-transform: uppercase;
}

.picture-container{
    width: 40%;
    height: 100%;
}

img{
  height: inherit;
  width: 100%;
  object-fit: cover;
  display: block;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f8ff70;
}

.page-top,
.page-bottom{
    padding-left: 50px;
}

.page-top{
    padding-top: 130px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 10%;
}

.page-bottom{
    padding-top: 30px;
    padding-bottom: 10%;
}

button{
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0px 2px 5px 0px #B2A4A6;
    background-color: #596D48;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    border: 1px solid #596D48;
    cursor: pointer;
    font-size: 20px;
}

form h2{
    padding-bottom: 20px;
    padding-top: 20px;
}

ul{
    padding-left: 50px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 6px -2px rgba(178, 164, 166, 0.62);
    background-color: white;
}

.form-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 20px;
    max-width: 800px;
    
}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input{
    max-width: 260px;
    padding: 4px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    font-size: 20px;
}

input:focus{
    border:2px solid #1e60ee80;
    box-shadow: 0 0 10px #719ECE;
    outline:none;
}

button:active{
    box-shadow: inset 0px 2px 5px 0px #2e2b2b;
}

input:focus:invalid:required {
    border: 2px solid rgba(255, 0, 0, 0.616);
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.555);
  }

input:focus:invalid {
    box-shadow: none;
    border: 2px solid #E5E7EB;
}

input:valid:required {
    border: 2px solid rgba(108, 170, 37, 0.678);
    box-shadow: 0 0 5px 1px rgba(80, 197, 44, 0.719);
  }

a{
    color: #596D48;
    font-weight: 800;
}

@media (min-width: 1091px) {
    .page-top{
        padding-right: 30%;
    }
}